# Real Estate Sales 2001-2016

The Office of Policy and Management maintains a listing of all real estate sales with a sales price of $2,000 or greater that occur between October 1 and September 30 of each year. For each sale record, the file includes: town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment.

Source: <https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu>

**INPUT**
Each row is an individual sale that includes address, assessed value and sale price

**OUTPUT**
The processed dataset should contain aggregated counts per town per price bucket (<100k, <200k, <300k, <400k, 400k+)

**NOTES** We only care about Single Family homes, without ay Non-use codes applied to them

In [135]:
import pandas as pd
import csv

In [136]:
raw = pd.read_csv('../raw/Real_Estate_Sales_2001-2016.csv', index_col=0, dtype=str)

In [137]:
town2fips = pd.read_csv('https://raw.githubusercontent.com/CT-Data-Collaborative/ct-town-county-fips-list/master/ct-town-county-fips-list.csv', dtype=str, index_col=0)

### Extract only relevant sales from the dataset

In [147]:
# Single Family homes with Non-Use code = 0
relevant = raw.copy(deep=True)
relevant['NonUseCode'] = relevant['NonUseCode'].fillna(0).astype(str)

relevant = relevant[
    (relevant['ResidentialType'] == 'Single Family')
    & (relevant['NonUseCode'] == '0' )
]

# Sale Amount should be a positive float
relevant['SaleAmount'] = relevant['SaleAmount'].astype(float)
relevant = relevant[relevant['SaleAmount'] > 0]

# Remove all unnecessary columns
relevant = relevant.filter(['ListYear', 'Town', 'SaleAmount'])

relevant['Price Range'] = pd.cut(
    relevant['SaleAmount'],
    [0, 100000, 200000, 300000, 400000, 10000000000],
    labels=[ 'Less than $100,000',
             '$100,000 to $199,999',
             '$200,000 to $299,999',
             '$300,000 to $399,999',
             '$400,000 and Over']
)

In [148]:
relevant_counts = relevant.groupby(['Town', 'ListYear', 'Price Range']).size()
relevant_counts = relevant_counts.unstack(level=0,fill_value=0).stack().reset_index()

# Calculate Counties counts and append to the main dataframe
relevant_counts['County'] = relevant_counts['Town'].apply(lambda t: town2fips.loc[t]['County'])

counties = relevant_counts.groupby(['County', 'ListYear', 'Price Range']).sum()
counties = counties.unstack(level=0,fill_value=0).stack().reset_index()
counties['Town'] = counties['County'].apply(lambda c: c + ' County')

# Calculate CT values
ct = relevant_counts.groupby(['ListYear', 'Price Range']).sum()
#print(relevant_)
ct = ct.unstack(level=0,fill_value=0).stack().reset_index()
ct['Town'] = 'Connecticut'

relevant_counts_combined = pd.concat([relevant_counts, counties, ct], sort=False)

# Add remaining columns
relevant_counts_combined['FIPS'] = relevant_counts_combined['Town'].apply(lambda t: town2fips.loc[t]['FIPS'])
relevant_counts_combined['Measure Type'] = 'Number'
relevant_counts_combined['Variable'] = 'Number of Home Sales'

relevant_counts_combined.to_csv('../data/single-family-home-sales-2001-2016.csv', index=False,
                       columns=['Town', 'FIPS', 'ListYear', 'Price Range', 'Measure Type', 'Variable', 0],
                       header=['Town/County', 'FIPS', 'Year', 'Price Range', 'Measure Type', 'Variable', 'Value'],
                       quoting=csv.QUOTE_NONNUMERIC)

In [142]:
relevantst

       ListYear       Town  SaleAmount           Price Range
ID
6          2002    Andover    189900.0  $100,000 to $199,999
7          2002    Andover    189900.0  $100,000 to $199,999
13         2004    Andover    184000.0  $100,000 to $199,999
16         2003    Andover    218000.0  $200,000 to $299,999
19         2004    Andover    279900.0  $200,000 to $299,999
21         2003    Andover    220000.0  $200,000 to $299,999
23         2002    Andover    146000.0  $100,000 to $199,999
24         2002    Andover    146000.0  $100,000 to $199,999
34         2002    Andover    129000.0  $100,000 to $199,999
35         2002    Andover    129000.0  $100,000 to $199,999
38         2003    Andover    182500.0  $100,000 to $199,999
41         2003    Andover    189900.0  $100,000 to $199,999
44         2005    Andover    142000.0  $100,000 to $199,999
54         2003    Andover    315000.0  $300,000 to $399,999
59         2003    Andover    169900.0  $100,000 to $199,999
60         2003    Andover    220000.0  $200,000 to $299,999
62         2004    Andover    225000.0  $200,000 to $299,999
64         2004    Andover    190000.0  $100,000 to $199,999
72         2004    Andover    143000.0  $100,000 to $199,999
76         2002    Andover    182500.0  $100,000 to $199,999
87         2004    Andover    248000.0  $200,000 to $299,999
99         2003    Andover     78000.0    Less than $100,000
102        2005    Andover    223000.0  $200,000 to $299,999
113        2002    Andover    116000.0  $100,000 to $199,999
114        2002    Andover    116000.0  $100,000 to $199,999
115        2002    Andover    150000.0  $100,000 to $199,999
117        2002    Andover    340912.0  $300,000 to $399,999
118        2002    Andover    340912.0  $300,000 to $399,999
138        2003    Andover    339900.0  $300,000 to $399,999
142        2005    Andover    245000.0  $200,000 to $299,999
...         ...        ...         ...                   ...
815158     2002  Woodstock    190000.0  $100,000 to $199,999
815160     2003  Woodstock    271000.0  $200,000 to $299,999
815161     2003  Woodstock    293000.0  $200,000 to $299,999
815165     2001  Woodstock    140000.0  $100,000 to $199,999
815167     2004  Woodstock    527500.0     $400,000 and Over
815174     2002  Woodstock    219900.0  $200,000 to $299,999
815175     2002  Woodstock    219900.0  $200,000 to $299,999
815181     2004  Woodstock    280000.0  $200,000 to $299,999
815185     2003  Woodstock    345000.0  $300,000 to $399,999
815187     2002  Woodstock    180000.0  $100,000 to $199,999
815188     2002  Woodstock    180000.0  $100,000 to $199,999
815196     2003  Woodstock    257000.0  $200,000 to $299,999
815197     2001  Woodstock    120000.0  $100,000 to $199,999
815198     2002  Woodstock     62000.0    Less than $100,000
815200     2002  Woodstock     62000.0    Less than $100,000
815209     2004  Woodstock    219900.0  $200,000 to $299,999
815210     2004  Woodstock    215000.0  $200,000 to $299,999
815211     2001  Woodstock    232500.0  $200,000 to $299,999
815214     2001  Woodstock     80000.0    Less than $100,000
815216     2004  Woodstock    220000.0  $200,000 to $299,999
815218     2004  Woodstock    489000.0     $400,000 and Over
815219     2004  Woodstock    330000.0  $300,000 to $399,999
815220     2001  Woodstock    165000.0  $100,000 to $199,999
815222     2003  Woodstock    225000.0  $200,000 to $299,999
815228     2001  Woodstock     92000.0    Less than $100,000
815240     2003  Woodstock    255000.0  $200,000 to $299,999
815245     2003  Woodstock    189900.0  $100,000 to $199,999
815559     2002  Woodstock    177000.0  $100,000 to $199,999
815560     2002  Woodstock    177000.0  $100,000 to $199,999
815773     2002  Woodstock     63000.0    Less than $100,000

[174163 rows x 4 columns]