# Real Estate Sales 2001-2016

The Office of Policy and Management maintains a listing of all real estate sales with a sales price of $2,000 or greater that occur between October 1 and September 30 of each year. For each sale record, the file includes: town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment.

Source: <https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu>

**INPUT**
Each row is an individual sale that includes address, assessed value and sale price

**OUTPUT**
The processed dataset should contain aggregated counts per town per price bucket (<100k, <200k, <300k, <400k, 400k+)

**NOTES** We only care about Single Family homes, without ay Non-use codes applied to them

In [83]:
import pandas as pd
import csv

In [6]:
raw = pd.read_csv('../raw/Real_Estate_Sales_2001-2016.csv', index_col=0, dtype=str)

In [120]:
town2fips = pd.read_csv('https://raw.githubusercontent.com/CT-Data-Collaborative/ct-town-county-fips-list/master/ct-town-county-fips-list.csv', dtype=str, index_col=0)

### Extract only relevant sales from the dataset

In [105]:
# Single Family homes with Non-Use code = 0
relevant = raw.copy(deep=True)
relevant['NonUseCode'] = relevant['NonUseCode'].astype(str).fillna('0')

relevant = relevant[
    (relevant['ResidentialType'] == 'Single Family')
    & (relevant['NonUseCode'] == '0' )
]

# Sale Amount should be a positive float
relevant['SaleAmount'] = relevant['SaleAmount'].astype(float)
relevant = relevant[relevant['SaleAmount'] > 0]

# Remove all unnecessary columns
relevant = relevant.filter(['ListYear', 'Town', 'SaleAmount'])

relevant['Price Range'] = pd.cut(
    relevant['SaleAmount'],
    [0, 100000, 200000, 300000, 400000, 10000000000],
    labels=[ 'Less than $100,000',
             '$100,000 to $199,999',
             '$200,000 to $299,000',
             '$300,000 to $399,000',
             '$400,000 and Over']
)

In [121]:
relevant_counts = relevant.groupby(['Town', 'ListYear', 'Price Range']).size()
relevant_counts = relevant_counts.unstack(level=0,fill_value=0).stack().reset_index()

# Calculate Counties counts and append to the main dataframe
relevant_counts['County'] = relevant_counts['Town'].apply(lambda t: town2fips.loc[t]['County'])

counties = relevant_counts.groupby(['County', 'ListYear', 'Price Range']).count()
counties = counties.unstack(level=0,fill_value=0).stack().reset_index()
counties['Town'] = counties['County'].apply(lambda c: c + ' County')

relevant_counts_combined = pd.concat([relevant_counts, counties], sort=False)

# Add remaining columns
relevant_counts_combined['FIPS'] = relevant_counts_combined['Town'].apply(lambda t: town2fips.loc[t]['FIPS'])
relevant_counts_combined['Measure Type'] = 'Number'
relevant_counts_combined['Variable'] = 'Number of Home Sales'

relevant_counts_combined.to_csv('../data/single-family-home-sales-2001-2016.csv', index=False,
                       columns=['Town', 'FIPS', 'ListYear', 'Price Range', 'Measure Type', 'Variable', 0],
                       header=['Town/County', 'FIPS', 'Year', 'Price Range', 'Measure Type', 'Variable', 'Value'],
                       quoting=csv.QUOTE_NONNUMERIC)

In [71]:
town2fips

                   County        FIPS
Town
Andover           Tolland  0901301080
Ansonia         New Haven  0900901220
Ashford           Windham  0901501430
Avon             Hartford  0900302060
Barkhamsted    Litchfield  0900502760
Beacon Falls    New Haven  0900903250
Berlin           Hartford  0900304300
Bethany         New Haven  0900904580
Bethel          Fairfield  0900104720
Bethlehem      Litchfield  0900504930
Bloomfield       Hartford  0900305910
Bolton            Tolland  0901306260
Bozrah         New London  0901106820
Branford        New Haven  0900907310
Bridgeport      Fairfield  0900108070
Bridgewater    Litchfield  0900508210
Bristol          Hartford  0900308490
Brookfield      Fairfield  0900108980
Brooklyn          Windham  0901509190
Burlington       Hartford  0900310100
Canaan         Litchfield  0900510940
Canterbury        Windham  0901512130
Canton           Hartford  0900312270
Chaplin           Windham  0901513810
Cheshire        New Haven  0900914160
Chester         Middlesex  0900714300
Clinton         Middlesex  0900715350
Colchester     New London  0901115910
Colebrook      Litchfield  0900516050
Columbia          Tolland  0901316400
...                   ...         ...
Thomaston      Litchfield  0900575730
Thompson          Windham  0901575870
Tolland           Tolland  0901376290
Torrington     Litchfield  0900576570
Trumbull        Fairfield  0900177200
Union             Tolland  0901377830
Vernon            Tolland  0901378250
Voluntown      New London  0901178600
Wallingford     New Haven  0900978740
Warren         Litchfield  0900579510
Washington     Litchfield  0900579720
Waterbury       New Haven  0900980070
Waterford      New London  0901180280
Watertown      Litchfield  0900580490
West Hartford    Hartford  0900382590
West Haven      New Haven  0900982870
Westbrook       Middlesex  0900781680
Weston          Fairfield  0900183430
Westport        Fairfield  0900183500
Wethersfield     Hartford  0900384900
Willington        Tolland  0901385950
Wilton          Fairfield  0900186370
Winchester     Litchfield  0900586440
Windham           Windham  0901586790
Windsor          Hartford  0900387000
Windsor Locks    Hartford  0900387070
Wolcott         New Haven  0900987560
Woodbridge      New Haven  0900987700
Woodbury       Litchfield  0900587910
Woodstock         Windham  0901588190

[169 rows x 2 columns]

In [92]:
raw[raw['ListYear'] == '2001']

,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
ID,,,,,,,,,,,,
684,10173,2001,04/17/2002 12:00:00 AM,Ansonia,1-3 EAGLE ST,63630,116000,54.8534482758621,Residential,Two Family,0,NaN
694,10005,2001,10/04/2001 12:00:00 AM,Ansonia,1 CRESTWOOD RD,76370,160000,47.73125,Residential,Single Family,0,NaN
697,10253,2001,06/18/2002 12:00:00 AM,Ansonia,1 DAVIES CT,97720,180000,54.2888888888889,Residential,Single Family,0,NaN
698,10094,2001,01/17/2002 12:00:00 AM,Ansonia,1 DOREL TER,110600,259900,42.5548287803001,Residential,Single Family,0,NaN
710,10100,2001,01/30/2002 12:00:00 AM,Ansonia,1 JAMES ST,63210,132000,47.8863636363636,Residential,Single Family,0,NaN
715,10268,2001,06/27/2002 12:00:00 AM,Ansonia,1 LESTER ST,82530,74500,110.778523489933,Residential,Two Family,0,NaN
733,10012,2001,10/11/2001 12:00:00 AM,Ansonia,1 WESTBROOK AVE,74830,131000,57.1221374045802,Residential,Two Family,0,NaN
738,10115,2001,02/22/2002 12:00:00 AM,Ansonia,10-12 CLIFTON AVE,60550,20000,302.75,Residential,Single Family,25,NaN
739,10187,2001,04/29/2002 12:00:00 AM,Ansonia,10-12 HALL ST,87710,168000,52.2083333333333,Residential,Single Family,0,NaN
741,10337,2001,09/03/2002 12:00:00 AM,Ansonia,10-12 PARKER ST,112630,186500,60.3914209115282,Residential,Two Family,0,NaN
755,10252,2001,06/14/2002 12:00:00 AM,Ansonia,10 CASCIO ST,85470,190000,44.9842105263158,Residential,Single Family,0,NaN
765,10043,2001,11/19/2001 12:00:00 AM,Ansonia,10 GARDNERS LN,66990,85000,78.8117647058824,Residential,Two Family,0,NaN
784,10045,2001,11/19/2001 12:00:00 AM,Ansonia,10 MEAD CIR,74410,153500,48.4755700325733,Residential,Single Family,0,NaN
793,10266,2001,06/28/2002 12:00:00 AM,Ansonia,10 NORTH ST,80710,167500,48.1850746268657,Residential,Single Family,0,NaN
795,10097,2001,01/23/2002 12:00:00 AM,Ansonia,10 PAGE ST,79100,127500,62.0392156862745,Residential,Single Family,0,NaN
807,10003,2001,10/02/2001 12:00:00 AM,Ansonia,10 WHITE OAK RD,80870,175000,46.2114285714286,Residential,Single Family,0,NaN
809,10228,2001,05/29/2002 12:00:00 AM,Ansonia,100 HOWARD AVE,92330,137000,67.3941605839416,Residential,Three Family,0,NaN
821,10348,2001,09/13/2002 12:00:00 AM,Ansonia,102 FORD ST,102830,167000,61.5748502994012,Residential,Single Family,0,NaN
827,10209,2001,05/13/2002 12:00:00 AM,Ansonia,102 ROOT AVE,72030,140000,51.45,Residential,Single Family,0,NaN
828,10220,2001,05/22/2002 12:00:00 AM,Ansonia,102 S CLIFF ST,130620,189900,68.783570300158,Residential,Single Family,0,NaN
832,10259,2001,06/20/2002 12:00:00 AM,Ansonia,103 PLATT ST,66010,49900,132.284569138277,Residential,Single Family,14,NaN
846,10224,2001,05/24/2002 12:00:00 AM,Ansonia,105 7 NO STATE ST,62090,70000,88.7,Residential,Two Family,25,NaN
849,10083,2001,01/02/2002 12:00:00 AM,Ansonia,105 N PROSPECT ST EXT,93590,175000,53.48,Residential,Single Family,0,NaN
856,10355,2001,09/24/2002 12:00:00 AM,Ansonia,107 PRINDLE AVE,83650,180000,46.4722222222222,Residential,Single Family,0,NaN
860,10036,2001,11/05/2001 12:00:00 AM,Ansonia,108 FORD ST,77630,147000,52.8095238095238,Residential,Single Family,0,NaN
873,10257,2001,06/20/2002 12:00:00 AM,Ansonia,109 FORD ST,105420,248000,42.508064516129,Residential,Single Family,0,NaN
894,10205,2001,05/10/2002 12:00:00 AM,Ansonia,11 CAROLINE ST,69860,137500,50.8072727272727,Residential,Single Family,0,NaN
898,10308,2001,08/12/2002 12:00:00 AM,Ansonia,11 CONDON DR,98980,245000,40.4,Residential,Single Family,0,NaN
921,10251,2001,06/13/2002 12:00:00 AM,Ansonia,11 S WESTWOOD RD,100450,112000,89.6875,Residential,Single Family,1,NaN
928,10306,2001,08/08/2002 12:00:00 AM,Ansonia,11 WESLEY ST,86030,173500,49.5850144092219,Residential,Two Family,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
815563,10055,2001,12/10/2001 12:00:00 AM,Woodstock,NEW SWEDEN RD,19600,40000,49,Vacant Land,NaN,0,NaN
815564,10114,2001,04/10/2002 12:00:00 AM,Woodstock,NEW SWEDEN RD,20220,46000,43.9565217391304,Vacant Land,NaN,0,NaN
815565,10117,2001,04/11/2002 12:00:00 AM,Woodstock,NEW SWEDEN RD,15620,6500,240.307692307692,Vacant Land,NaN,25,NaN
815574,10171,2001,06/14/2002 12:00:00 AM,Woodstock,OAK DR,9800,16000,61.25,Vacant Land,NaN,0,NaN
815583,10228,2001,08/28/2002 12:00:00 AM,Woodstock,OAK HILL LN,430,75000,0.573333333333333,Vacant Land,NaN,28,NaN
815584,10129,2001,04/29/2002 12:00:00 AM,Woodstock,OJALA RD,14280,39900,35.7894736842105,Vacant Land,NaN,0,NaN
815602,10181,2001,06/03/2002 12:00:00 AM,Woodstock,PAINE DISTRICT RD,21520,35000,61.4857142857143,Vacant Land,NaN,0,NaN
815615,10135,2001,05/01/2002 12:00:00 AM,Woodstock,PERRIN RD,204110,130000,157.007692307692,Vacant Land,NaN,6,NaN
815629,10076,2001,01/15/2002 12:00:00 AM,Woodstock,POLE BRG RD,14000,29000,48.2758620689655,Vacant Land,NaN,0,NaN
815630,10245,2001,09/16/2002 12:00:00 AM,Woodstock,POLE BRG RD,20650,30000,68.8333333333333,Vacant Land,NaN,0,NaN
815631,10250,2001,09/25/2002 12:00:00 AM,Woodstock,POLE BRG RD,32280,70000,46.1142857142857,Vacant Land,NaN,0,NaN
815645,10074,2001,01/10/2002 12:00:00 AM,Woodstock,POND FACTORY RD,19600,28000,70,Vacant Land,NaN,0,NaN
815647,10087,2001,02/21/2002 12:00:00 AM,Woodstock,PROSPECT ST,480,40000,1.2,Vacant Land,NaN,28,NaN
815648,10233,2001,09/08/2002 12:00:00 AM,Woodstock,PROSPECT ST,24010,39900,60.1754385964912,Vacant Land,NaN,0,NaN
815686,10253,2001,09/30/2002 12:00:00 AM,Woodstock,ROCKY HL RD,69160,NaN,69.16,Vacant Land,NaN,0,NaN
815692,10017,2001,10/25/2001 12:00:00 AM,Woodstock,ROSELAND PARK RD,30310,45000,67.3555555555556,Vacant Land,NaN,0,NaN
815745,10216,2001,08/15/2002 12:00:00 AM,Woodstock,RT 169,30450,925000,3.29189189189189,Vacant Land,NaN,28,NaN
815774,10203,2001,07/31/2002 12:00:00 AM,Woodstock,RT 169 & GREEN RD,203490,490000,41.5285714285714,Vacant Land,NaN,6,NaN
815775,10008,2001,10/05/2001 12:00:00 AM,Woodstock,RT 171,46900,60000,78.1666666666667,Vacant Land,NaN,6,NaN
815785,10176,2001,06/06/2002 12:00:00 AM,Woodstock,RT 197,16660,27500,60.5818181818182,Vacant Land,NaN,0,NaN
815796,10023,2001,10/31/2001 12:00:00 AM,Woodstock,RT 198,12600,35000,36,Vacant Land,NaN,0,NaN
815797,10126,2001,04/26/2002 12:00:00 AM,Woodstock,RT 198,19950,39900,50,Vacant Land,NaN,0,NaN
815798,10146,2001,05/17/2002 12:00:00 AM,Woodstock,RT 198,12720,55000,23.1272727272727,Vacant Land,NaN,28,NaN
815799,10234,2001,09/05/2002 12:00:00 AM,Woodstock,RT 198,16660,32000,52.0625,Vacant Land,NaN,0,NaN
815800,10243,2001,09/13/2002 12:00:00 AM,Woodstock,RT 198,450,67000,0.671641791044776,Vacant Land,NaN,28,NaN
815814,10084,2001,02/07/2002 12:00:00 AM,Woodstock,SENEXET,79630,140000,56.8785714285714,Vacant Land,NaN,0,NaN
815815,10239,2001,09/11/2002 12:00:00 AM,Woodstock,SENEXET RD,110780,335000,33.0686567164179,Vacant Land,NaN,14,NaN
815866,10210,2001,08/02/2002 12:00:00 AM,Woodstock,TOWN FARM RD,33040,NaN,33.04,Vacant Land,NaN,0,NaN
815869,10138,2001,05/02/2002 12:00:00 AM,Woodstock,UNDERWOOD RD,3920,10000,39.2,Vacant Land,NaN,1,NaN
815876,10254,2001,09/23/2002 12:00:00 AM,Woodstock,VALLEY VIEW RD,20330,16000,127.0625,Vacant Land,NaN,0,NaN